<web-app>
  <welcome-file-list>
    <welcome-file>welcome.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>CommonServletForLogin</servlet-name>
    <servlet-class>com.servlet.CommonServletForLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommonServletForLogin</servlet-name>
    <url-pattern>/LogonServlet</url-pattern>
  </servlet-mapping>
   
  <servlet>
    <servlet-name>ForgetpasswordServlet</servlet-name>
    <servlet-class>com.servlet.ForgetpasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetpasswordServlet</servlet-name>
    <url-pattern>/ForgetServlet</url-pattern>
  </servlet-mapping>
   
   <servlet>
   <servlet-name>StudentSevlet</servlet-name>
   	<servlet-class>com.servlet.StudentSevlet</servlet-class>
   </servlet>
  
   	<servlet-mapping>
  	<servlet-name>StudentSevlet</servlet-name>
  	<url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
   	<servlet-name>GetStudentInfoServlet</servlet-name>
   	<servlet-class>com.servlet.GetStudentInfoServlet</servlet-class>
   </servlet>

   <servlet>
   	<display-name>CourseRegistrationServlet</display-name>
   	<servlet-name>CourseRegistrationServlet</servlet-name>
   	<servlet-class>com.servlet.CourseRegistrationServlet</servlet-class>
   </servlet>

  <servlet-mapping>
  	<servlet-name>CourseRegistrationServlet</servlet-name>
  	<url-pattern>/CourseRegistrationServlet</url-pattern>
  </servlet-mapping>
  

  
  <servlet-mapping>
  	<servlet-name>GetStudentInfoServlet</servlet-name>
  	<url-pattern>/getStudentInfo</url-pattern>
  </servlet-mapping>
  
  <servlet>
   	<servlet-name>SearchStudentOrDpdDetails</servlet-name>
   	<servlet-class>com.servlet.SearchStudentOrDpdDetails</servlet-class>
   </servlet>
   

  <servlet-mapping>
  	<servlet-name>SearchStudentOrDpdDetails</servlet-name>
  	<url-pattern>/searchDetails</url-pattern>
  </servlet-mapping>
    
  <servlet>
   	<servlet-name>SearchStudentDetails</servlet-name>
   	<servlet-class>com.servlet.SearchStudentDetails</servlet-class>
   </servlet>
  
  <servlet-mapping>
  	<servlet-name>SearchStudentDetails</servlet-name>
  	<url-pattern>/SearchStudentDetails</url-pattern>
  </servlet-mapping>
  
    <servlet>
   	<servlet-name>EnrollStudentOrDpd</servlet-name>
   	<servlet-class>com.servlet.EnrollStudentOrDpd</servlet-class>
   </servlet>
  
  <servlet-mapping>
  	<servlet-name>EnrollStudentOrDpd</servlet-name>
  	<url-pattern>/enroll</url-pattern>
  </servlet-mapping>
  
    <servlet>
   	<servlet-name>ManageStudentDetails</servlet-name>
   	<servlet-class>com.servlet.ManageStudentDetails</servlet-class>
   </servlet>
  
  <servlet-mapping>
  	<servlet-name>ManageStudentDetails</servlet-name>
  	<url-pattern>/ManageStudentDetails</url-pattern>
  </servlet-mapping>
  
  <servlet>
   	<servlet-name>SetDatesServlet</servlet-name>
   	<servlet-class>com.servlet.SetDatesServlet</servlet-class>
   </servlet>
  
  <servlet-mapping>
  	<servlet-name>SetDatesServlet</servlet-name>
  	<url-pattern>/SetDates</url-pattern>
  </servlet-mapping>
  
</web-app>